* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}

html,
body {
    height: 100%;
    width: 100%;
}

/* Loder Here */
 
/* Loader End Here */

#main {
    background-color: #1c1c19;
    overflow-x: hidden;

}

#page1 {
    height: 110vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    background-color: #c2bab1;
}

#nav {
    height: 110px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

#nav img {
    height: 30px;
    width: 30%;

}

#nav h5 {
    font-size: 20px;
    font-weight: 100;
    width: 30%;

}

#nav i {
    width: 30%;
    text-align: right;

}

#elems {
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;

}

#elem1 {
    width: 30%;
    height: 100%;



}

#elem2 {
    width: 30%;
    height: 100%;
    padding: 20 60px;
    text-align: center;
    border-left: 2px solid #8f8982;
    border-right: 2px solid #8f8982;


}

#elem3 {
    width: 30%;
    height: 100%;

}

#elem1 #image-div {
    height: 60%;
    width: 100%;
    overflow: hidden;
}

#image-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}

#elem3 #image-div {
    height: 60%;
    width: 100%;
    overflow: hidden;
}

#image-div:hover img {
    scale: 1.1;

}

#elem1 h4 {
    font-size: 41px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Editorial New;
}

#elem1 span {
    padding: 4px;
    font-size: 18px;
    font-weight: 100;
    color: #bfada0;
    margin-left: 10px;
    background-color: #b63c12;
    font-family: Canopee;
    border-radius: 5px;
}

#elem1 p {
    font-size: 23px;
    font-weight: 300;
    color: #1c1c1a;
    text-align: justify;
    font-family: Editorial New;

}


#elem3 h4 {
    font-size: 41px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Editorial New;
}

#elem3 span {
    padding: 4px;
    font-size: 18px;
    font-weight: 100;
    color: #bfada0;
    margin-left: 10px;
    background-color: #b63c12;
    font-family: Canopee;
    border-radius: 5px;
}

#elem3 p {
    font-size: 23px;
    font-weight: 300;
    color: #1c1c1a;
    text-align: justify;
    font-family: Editorial New;

}

#elem2 h2 {
    font-size: 55px;
    font-family: Editorial New;

}

#elem2 h3 {
    font-size: 30px;
    font-weight: 100;
    font-family: Editorial New;
    margin: 20px 0px;

}

#elem2 h6 {
    font-size: 23px;
    font-weight: 100;
    color: #1c1c1a;
    font-family: Editorial New;
}

#page1 h1 {
    font-size: 400px;
    font-family: Canopee;
    font-weight: 400;
    text-align: center;
    background-color: #1c1c19;
    color: #c7bfb5;
    width: 96%;
    margin-left: 2%;
    letter-spacing: -20px;
    margin-top: 2%;

}

#page2 {
    height: 150vh;
    width: 100%;
    background-color: #c2bab1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 50px;

}

#page2-left {
    width: 40%;
    height: 100%;
    padding-right: 40px;
    border-right: 1px solid #8f8982;

}

#page2-left h2 {
    font-size: 90px;
    font-family: Canopee;
    line-height: 100px;
    font-weight: 100;
    margin-left: 10%;
    margin-bottom: 5%;

}

#page2-left img {
    height: 60%;
    width: 100%;
    object-fit: contain;
}

#page2-left p {
    font-size: 30px;
    color: #1c1c19;
    font-family: Editorial New;
    margin-top: 5%;   
}

#page2-left p span {
    font-size: 54px;
    color: #8f8982;
    /* margin: 20px; */
    font-family: Editorial New;  
    background-color: #000000;

}


#page2-left h2 span {
    font-size: 150px;
    font-family: Canopee;
    text-align: center;
    line-height: 90px;
    font-weight: 800;   

}

#page2-right {
    height: 100%;
    width: 60%;
    padding: 0 60px;

}

#page2-right img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    border: solid 1px black;

}

#page2-right h1{
    font-family: canopee;
    font-size: 80px;
    letter-spacing:-1px ;
    font-weight: 900;
    
}

#page3{ 
    padding-bottom: 100px;
    position: relative;   
    background-color:#c2bab1;
}
#page3 h1{    
    font-size: 350px;
    font-family: Canopee;
    font-weight: 400;      
    color: #c7bfb5;
    width: fit-content;    
    margin-left: 2%;
    letter-spacing: -20px;   
    background-color: #000000;  
    padding: 10px;
    padding-right: 30px;

}

#page3 img{
    height: 420px;
    width: 20%;
    position: absolute;
    top: 0;
    right: 3%;  
     
}

#page4{  
    height: 430px;
    display: flex;
    align-items: center;
    padding: 40px 60px;  
    padding-bottom: 100px;
    justify-content: space-between;
    background-color: #c2bab1;    
}
#page4-1 {
    width: 30%;
    height: 100%;
    border-right: 1px solid #000;
}
#page4-1 p {
    font-size: 23px;
    font-weight: 300;
    color: #1c1c1a;
    text-align: justify;
    font-family: Editorial New;
    cursor:grab;
}
#page4-1 #image-div {
    height: 60%;
    width: 100%;
    overflow: hidden;
}
#page4-1 #headingimg img{
    width: 50%;
    cursor:grab;
    margin: 20px 0px;
}

#page4-2 {
    width: 30%;
    height: 100%;    
    text-align: center;        
    border-right: 2px solid #8f8982; 
    
}
#page4-2 h2 {
    font-size: 52px;
    font-family: Canopee;
    text-align: center;
    line-height: 58px;  
    font-weight: 900;   
    padding-right: 15%;
}
#page4-2 h3 {
    font-size: 50px;
    font-weight: 100;    
    font-family: Editorial New;
    margin: 20px 10px;       
    text-align: left;
}

#page4-2 h6 {
    font-size: 23px;
    font-weight: 100;
    color: #1c1c1a;
    font-family: Editorial New;
   padding-right: 40%;
}
#page4-2 span { 
    font-weight: bold;
}
#page4-3{
    width: 30%;
    height: 100%;
    border-left: 1px solid #000;
}

#page4-3 h2{  
    font-size: 70px; 
    font-weight: 400;
    text-align: center;
    line-height: 2px;
    font-family: Canopee;

}
#page4-3 h1{   
    font-size: 120px; 
    font-weight: 900;
    text-align: center;
    font-family: Canopee;

}
#page4-3 span {
    padding: 4px;
    font-size: 18px;
    font-weight: 100;
    color: #bfada0;
    margin-left: 10px;
    background-color: #b63c12;
    font-family: Canopee;
    border-radius: 5px;

}

#page4-3 p {
    font-size: 23px;
    font-weight: 300;
    color: #1c1c1a;
    text-align: justify;
    font-family: Editorial New;

}

