*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    

}

html,body{
    height: 100%;
    width: 100%;

}

#page1{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #c2bab1;
}

#nav{
    height: 110px;  
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

#nav img{
    height: 30px;
    width: 30%;

}

#nav h5{
    font-size: 20px;
    font-weight: 100; 
    width: 30%;  

}

#nav i{
    width: 30%;
    text-align: right;

}

#elems{  
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
    
}

#elem1{
    width: 30%;
    height: 100%;
   


}

#elem2{
    width: 25%;
    height: 100%;    
    padding: 20 60px;
    text-align: center;
    border-left: 2px solid #8f8982;
    border-right: 2px solid #8f8982;
    
       
}

#elem3{
    width: 30%;
    height: 100%;    

}

#elem1 #image-div{
              height: 60%;
              width: 100%;
              overflow: hidden;
}

#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s ;
}

#elem3 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
}

#image-div:hover img{
    scale:1.1;

}

#elem1 h4{  
   font-size: 22px;
   margin-top: 20px;
   margin-bottom: 20px; 
   font-family: Editorial New;
}

#elem1 span{  
    padding: 4px;
    font-size: 18px;
    font-weight: 100;
    color: #bfada0;
    margin-left: 10px;
    background-color:#b63c12;
    font-family:Canopee;
    border-radius: 5px;
 }
 

