*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    

}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    background-color: #1c1c19; 
    overflow-x: hidden;

}

#page1{
    height: 110vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    background-color: #c2bab1;
}

#nav{
    height: 110px;  
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

#nav img{
    height: 30px;
    width: 30%;

}

#nav h5{
    font-size: 20px;
    font-weight: 100; 
    width: 30%;  

}

#nav i{
    width: 30%;
    text-align: right;

}

#elems{  
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
    
}

#elem1{
    width: 30%;
    height: 100%;
   


}

#elem2{
    width: 30%;
    height: 100%;    
    padding: 20 60px;
    text-align: center;
    border-left: 2px solid #8f8982;
    border-right: 2px solid #8f8982;
    
       
}

#elem3{
    width: 30%;
    height: 100%;    

}

#elem1 #image-div{
              height: 60%;
              width: 100%;
              overflow: hidden;
}

#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s ;
}

#elem3 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
}

#image-div:hover img{
    scale:1.1;

}

#elem1 h4{  
   font-size: 41px;   
   margin-top: 20px;
   margin-bottom: 20px; 
   font-family: Editorial New;
}

#elem1 span{  
    padding: 4px;
    font-size: 18px;
    font-weight: 100;
    color: #bfada0;
    margin-left: 10px;
    background-color:#b63c12;
    font-family:Canopee;
    border-radius: 5px;
 }
 
 #elem1 p{  
    font-size: 23px;       
    font-weight: 300;
    color:#1c1c1a;
    text-align: justify;
    font-family: Editorial New;

 }

 
#elem3 h4{  
    font-size: 41px;   
    margin-top: 20px;
    margin-bottom: 20px; 
    font-family: Editorial New;
 }
 
 #elem3 span{  
     padding: 4px;
     font-size: 18px;
     font-weight: 100;
     color: #bfada0;
     margin-left: 10px;
     background-color:#b63c12;
     font-family:Canopee;
     border-radius: 5px;
  }
  
  #elem3 p{  
     font-size: 23px;       
     font-weight: 300;
     color:#1c1c1a;
     text-align: justify;
     font-family: Editorial New;
 
  }

  #elem2 h2{   
    font-size: 55px;    
    font-family: Editorial New;

  }
  #elem2 h3{   
    font-size: 30px;    
    font-weight: 100;
    font-family: Editorial New;
    margin: 20px 0px;

  }
  #elem2 h6{   
      font-size: 23px;    
      font-weight: 100;
      color:#1c1c1a;
    font-family: Editorial New;
  }
  
  #page1 h1{
        font-size: 400px;
        font-family: Canopee;
        font-weight: 400;
        text-align: center;
        background-color: #1c1c19;
        color: #c7bfb5;        
        width: 96%;
        margin-left:2%;
        letter-spacing: -20px;
        margin-top: 2%;
      
  }
 
  #page2{
    height: 150vh;
    width: 100%;   
    background-color: #c2bab1;      
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 90px 50px;

  }

  #page2-left{
        height: 100%;
        width: 40%;
        padding-right: 40px;
        /* background-color: red; */

  }

  #page2-left h2{
    font-size: 90px;
    font-family: Canopee;  
    line-height: 100px; 
    font-weight: 100;  
   
}

#page2-left img{
    height: 60%;
    width: 100%;
    object-fit: contain;
}


#page2-left h2 span{
    font-size: 150px;
    font-family: Canopee;
    text-align: center;
    line-height: 90px;  
    font-weight: 800;
    
}

  #page2-right{
    height: 100%;

  }
